 
.event-image>img{
    width:150px;
    display:inline;
    
}
.event-image{
    float:right;
    align-content:right;
    width:20%;
    margin:5px;
}
.event{
    display:block;
    background-color:white;
    width:98%;

}
.event-info {
    width: 70%;
    clear:none;
    float:left;
    margin:5px;
}
.content {
    width: 50%;
    margin: auto;
    background-color: #30a1e2;
    padding-top: 250px;
    padding-bottom: 80%
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
/*---CSS CODE---*/

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

main {
    padding-top: 250px;
}

header {
    background: #30a1e2;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

    header img {
        width: 20%;
    }
/*---start of navbar design*/
nav {
    background-color: rgb(255, 255, 255);
    float: left;
    width: 100vw;
}

ul:not(.dropdown):not(.symptoms) {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:not(.dropdownElements):not(.symptomsList) {
    border-right: 2px solid #30a1e2;
    border-bottom: 2px solid #575757;
    width: 10%;
    text-align: center;
    padding: 10px 15px;
    position: relative;
}

li:last-child {
    border-right: none;
}

li a:not(.symptomsList) {
    display: inline;
    padding: 10px 15px;
    color: black;
    font-size: large;
    text-decoration: none;
}

li:hover:not(.symptomsList) {
    background-color: #fff600;
    transition: background-color 300ms ease-in-out;
}

.active {
    background-color: #fff600;
}

.dropdown {
    top: 41px;
    left: -2px;
    right: -2px;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    display: none;
    position: absolute;
    border: 2px solid #30a1e2;
}

nav ul li:hover ul:not(.symptomsList) {
    display: block;
}

.dropdownElements {
    list-style: none;
    float: left;
}

    .dropdownElements:hover {
        background-color: #fff600;
        transition: background-color 300ms ease-in-out;
    }

nav ul li ul li a:not(.symptomsList) {
    float: left;
}

.resize {
    width: 30px;
    height: auto;
}

.resize {
    width: 10px;
    height: auto;
}

.breadcrumb {
    display: block;
    position: absolute;
    top:200px;
    left: 1%;
    font-size: 18px;
    color: #575757;
    z-index: 0;
  }
  
  .breadcrumb a{
    color: #30a1e2;
  }
  
  .breadcrumb a:hover {
    color: #fff600;
  }

/*---End of navbar design---*/

footer{
    border-top: 1px solid #575757;
    bottom: 0px;
    width: 100%;
    display: block;
  }
  .footerLogo{
    float: left;
    vertical-align: top;
    margin: 0;
  }
  
  .footerLogo img{
    width: 270px;
    height: 100px;
    
  }
  .footerLogo h3{
    display: block;
    margin: 0;
    text-align: justify;
    font-size: small;
    color: #575757;
  }
  .footerLinks{
    display: block;
    float: center;
    margin:0;
  }
  
  .links{
    margin: 20px 0 20px;
    text-align: center;
  
  }
  .links a{
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    color: #575757;
    font-size:x-large;
  }
  .links a:hover{
    color:  #fff600;
  }
  .SocialIcons{
    float: center;
    margin-left: 50%;
  }
  .SocialIcons a, .SocialIcons img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
  
  }
  .SocialIcons img:hover{
    color: #575757;
  }
