body {
}
.event-image>img{
    width:150px;
    display:inline;
    
}
.event-image{
    float:right;
    align-content:right;
    width:20%;
    margin:5px;
}
.event{
    display:block;
    background-color:white;
    width:98%;

}
.event-info {
    width: 70%;
    clear:none;
    float:left;
    margin:5px;
}
.content {
    width: 50%;
    margin: auto;
    background-color: #30a1e2;
    padding-top: 250px;
    padding-bottom: 80%
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}